<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST API Test Suite" verbose="1">
    <test name="User API Tests">
        <classes>
            <class name="com.api.automation.tests.jsonplaceholder.UserTests"/>
        </classes>
    </test>
    
    <test name="Post API Tests">
        <classes>
            <class name="com.api.automation.tests.jsonplaceholder.PostTests"/>
        </classes>
    </test>
    
    <test name="Object API GET Tests">
        <classes>
            <class name="com.api.automation.tests.endpoints.restfulapi.ObjectGetTests"/>
        </classes>
    </test>
    
    <test name="Object API GET by IDs Tests">
        <classes>
            <class name="com.api.automation.tests.endpoints.restfulapi.ObjectGetByIdsTests"/>
        </classes>
    </test>
    
    <test name="Object API GET All Objects Tests">
        <classes>
            <class name="com.api.automation.tests.endpoints.restfulapi.ObjectGetAllTests"/>
        </classes>
    </test>
    
    <test name="Object API POST Tests">
        <classes>
            <class name="com.api.automation.tests.endpoints.restfulapi.ObjectPostTests"/>
        </classes>
    </test>
    
    <test name="Object API PUT Tests">
        <classes>
            <class name="com.api.automation.tests.endpoints.restfulapi.ObjectPutTests"/>
        </classes>
    </test>
    
    <test name="Object API PATCH Tests">
        <classes>
            <class name="com.api.automation.tests.endpoints.restfulapi.ObjectPatchTests"/>
        </classes>
    </test>
</suite>
